@using System.Web.Optimization
@using DataAccessLayer
@model List<DataAccessLayer.Modelos.sp_Expensas_Result>
@{
    ViewBag.Titulo = "Listado de Expensas";
    Layout = "~/Views/Shared/LogueadoLayout.cshtml";
}

@Scripts.Render("~/bundles/dataTables")
@Styles.Render("~/Content/dataTables")


<div class="container mb-5">
    <div class="pb-5">

        <h1 class="mb-5"> Consorcios "" - Expensas </h1>

        <div class="card border-success mb-5">
            <div class="card-header">Consorcio ????</div>
            <div class="card-body text-success">
                <h4 class="card-title">Gasto Total Mes actual @Model[0].Mes (hasta el momento): @Model[0].Gasto_Total</h4>
                <p> Unidades: --</p>
                <p> Monto x Unidad: --</p>
            </div>
        </div>

        <table class="table table-striped table-hover" id="ListadoGeneral">
            <thead class="thead-dark">
                <tr>
                    <th> Año </th>
                    <th> Mes </th>
                    <th> Monto </th>
                    <th> Expensas por Unidad</th>
                </tr>
            </thead>

            @for (int i = 1; i < Model.Count; i++)
            {
                <tr>
                    <td> @Model[i].Año</td>
                    <td> @Model[i].Mes</td>
                    <td> @Model[i].Gasto_Total</td>
                    <td></td>
                </tr>
            }

        </table>
    </div>
</div>