@using Entidades_VM
@model Usuario_VM
@{
    ViewBag.Titulo = "Registración";
    Layout = "~/Views/Shared/_LayoutPageBase.cshtml";
}

<body>
    <div class="container text-center">
        @ViewBag.error
        <form action="/home/registrarse" method="post">

            @Html.TextBoxFor(n => n.Nombre, new { placeholder = "Nombre" }) @Html.ValidationMessageFor(Model => Model.Nombre)<br />
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" }) @Html.ValidationMessageFor(Model => Model.Email)<br />
            @Html.PasswordFor(p => p.Password, new { placeholder = "Contraseña" }) @Html.ValidationMessageFor(Model => Model.Password)<br />
            @Html.PasswordFor(p2 => p2.ReingresoPassword, new { placeholder = "Reingrese la contraseña" }) @Html.ValidationMessageFor(Model => Model.ReingresoPassword)<br />

            <button type="submit">Registrarse</button>
            <a href="/home/inicio">Cancelar</a>

        </form><br /><br /><br /><br /><br />
        <img src="~/Img/logo-ppal.png" />
    </div>
</body>