@using System.Web.Optimization
@using DataAccessLayer
@model DataAccessLayer.Modelos.Consorcio
@{
    ViewBag.Titulo = "Ingreso de Consorcios";
    Layout = "~/Views/Shared/_LayoutPageLogin.cshtml";
}

@Scripts.Render("~/bundles/dataTables")
@Scripts.Render("~/bundles/sweetAlert")


<body>
    @*El primer ingreso a la vista lo hace con el TempData vacio.*@
    @if (TempData["nombreConsorcio"] as string != null)
    {
        if (TempData["error"] as string != null)
        {
            <script>
            Swal.fire({
                text: 'Consorcio "@TempData["nombreConsorcio"]" no pudo ser creado',
                icon: 'error',
                confirmButtonText: 'Ok'
            })
            </script>
        }
        else
        {
            <script>
                Swal.fire({
                    text: 'Consorcio "@TempData["nombreConsorcio"]" fue creado con exito',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                })
            </script>
        }

    }


    <div class="container">
        <form action="/consorcio/agregarConsorcio" method="post">

            @Html.LabelFor(Model => Model.Nombre)*
            @Html.EditorFor(Model => Model.Nombre)
            @Html.ValidationMessageFor(Model => Model.Nombre)<br />

            @Html.LabelFor(Model => Model.Provincia)*
            @Html.DropDownListFor(Model => Model.Provincia.IdProvincia, new SelectList((System.Collections.IEnumerable)ViewData["listadoProvincias"], "IdProvincia", "Nombre"), "Elija una Provincia")
            @Html.ValidationMessageFor(Model => Model.Provincia.IdProvincia)<br />

            @Html.LabelFor(Model => Model.Ciudad)*
            @Html.EditorFor(Model => Model.Ciudad)
            @Html.ValidationMessageFor(Model => Model.Ciudad)<br />

            @Html.LabelFor(Model => Model.Calle)*
            @Html.EditorFor(Model => Model.Calle)
            @Html.ValidationMessageFor(Model => Model.Calle)<br />

            @Html.LabelFor(Model => Model.Altura)*
            @Html.EditorFor(Model => Model.Altura)
            @Html.ValidationMessageFor(Model => Model.Altura)<br />

            @Html.LabelFor(Model => Model.DiaVencimientoExpensas)*
            @Html.EditorFor(Model => Model.DiaVencimientoExpensas)
            @Html.ValidationMessageFor(Model => Model.DiaVencimientoExpensas)<br /><br />


            <button type="submit">Guardar</button><br />
            <button type="submit" formaction="/consorcio/agregarConsorcio/1">Guardar y Crear otro Consorcio</button><br />
            <button type="submit" formaction="/consorcio/agregarConsorcio/2">Guardar y Crear Unidades</button><br />
            <a href="/consorcio/listarConsorcio">Cancelar</a>
        </form>
    </div>
</body>