@using Entidades
@model Consorcio
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AgregarConsorcio</title>
</head>
<body>
    <div>
        <form action="/consorcio/agregarConsorcio" method="post">

            @Html.LabelFor(Model => Model.Nombre)*<br />
            @Html.EditorFor(Model => Model.Nombre)
            @Html.ValidationMessageFor(Model => Model.Nombre)<br /><br />

            @Html.LabelFor(Model => Model.IdProvincia)*<br />
            @Html.DropDownListFor(Model => Model.IdProvincia.IdProvincia, new SelectList((System.Collections.IEnumerable)ViewData["listadoProvincias"], "IdProvincia", "Nombre"), "Elija una Provincia")
            @Html.ValidationMessageFor(Model => Model.IdProvincia.IdProvincia)<br /><br />

            @Html.LabelFor(Model => Model.Ciudad)*<br />
            @Html.EditorFor(Model => Model.Ciudad)
            @Html.ValidationMessageFor(Model => Model.Ciudad)<br /><br />

            @Html.LabelFor(Model => Model.Calle)*<br />
            @Html.EditorFor(Model => Model.Calle)
            @Html.ValidationMessageFor(Model => Model.Calle)<br /><br />

            @Html.LabelFor(Model => Model.Altura)*<br />
            @Html.EditorFor(Model => Model.Altura)
            @Html.ValidationMessageFor(Model => Model.Altura)<br /><br />

            @Html.LabelFor(Model => Model.DiaVencimientoExpensas)*<br />
            @Html.EditorFor(Model => Model.DiaVencimientoExpensas)
            @Html.ValidationMessageFor(Model => Model.DiaVencimientoExpensas)<br /><br /><br />


            <button type="submit">Guardar</button><br />
            <button type="submit" formaction="/consorcio/agregarConsorcio/1">Guardar y Crear otro Consorcio</button><br />
            <button type="submit" formaction="/consorcio/agregarConsorcio/2">Guardar y Crear Unidades</button><br />
            <button type="submit" formaction="/consorcio/listarConsorcio" formmethod="get">Cancelar</button>

        </form>
    </div>
</body>
</html>