@using Entidades
@model Consorcio
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModificarConsorcio</title>


    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $('#IdProvincia > option[value="@Model.IdProvincia.IdProvincia"]').attr('selected', 'selected');
            });
    </script>
</head>
<body>
    <div>
        <form action="/consorcio/modificarConsorcio" method="post">
            <input hidden name="IdConsorcio" value="@Model.IdConsorcio" />
            <input hidden name="IdUsuarioCreador" value="@Model.IdUsuarioCreador" />
            <input hidden name="FechaCreacion" value="@Model.FechaCreacion" />

            @Html.LabelFor(Model => Model.Nombre)*<br />
            @Html.EditorFor(Model => Model.Nombre)
            @Html.ValidationMessageFor(Model => Model.Nombre)<br /><br />

            @Html.LabelFor(Model => Model.IdProvincia)*<br />
            @Html.DropDownListFor(Model => Model.IdProvincia.IdProvincia, new SelectList((System.Collections.IEnumerable)ViewData["listadoProvincias"], "IdProvincia", "Nombre"), "Elija una Provincia")
            @Html.ValidationMessageFor(Model => Model.IdProvincia.IdProvincia)<br /><br />

            @Html.LabelFor(Model => Model.Ciudad)*<br />
            @Html.EditorFor(Model => Model.Ciudad)
            @Html.ValidationMessageFor(Model => Model.Ciudad)<br /><br />

            @Html.LabelFor(Model => Model.Calle)*<br />
            @Html.EditorFor(Model => Model.Calle)
            @Html.ValidationMessageFor(Model => Model.Calle)<br /><br />

            @Html.LabelFor(Model => Model.Altura)*<br />
            @Html.EditorFor(Model => Model.Altura)
            @Html.ValidationMessageFor(Model => Model.Altura)<br /><br />

            @Html.LabelFor(Model => Model.DiaVencimientoExpensas)*<br />
            @Html.EditorFor(Model => Model.DiaVencimientoExpensas)
            @Html.ValidationMessageFor(Model => Model.DiaVencimientoExpensas)<br /><br /><br />


            <button type="submit">Guardar</button><br />
            <button type="submit" formaction="/consorcio/listarConsorcio" formmethod="get">Cancelar</button><br /><br /><br /><br />
        </form>



        @ViewBag.cantidadUnidades Unidades<br /><br />
        <a href="/unidad/listarUnidad/@Model.IdConsorcio">Ver Unidades</a><br />
        <a href="/expensa/listarExpensa/@Model.IdConsorcio">Ver Expensas</a><br />
        <a href="/gasto/listarGasto/@Model.IdConsorcio">Ver Gastos</a><br />
        <a href="/consorcio/eliminarConsorcio/@Model.IdConsorcio">Eliminar Consorcio</a>

    </div>
</body>
</html>