@using DataAccessLayer
@model DataAccessLayer.Modelos.Consorcio
@{
    ViewBag.Titulo = "Modificación de Consorcios";
    Layout = "~/Views/Shared/_LayoutPageLogin.cshtml";
}

@*@section HeadScripts{
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script type="text/javascript">
                $(document).ready(function () {
                    $('#IdProvincia > option[value="@Model.Provincia.IdProvincia"]').attr('selected', 'selected');
                });
        </script>
    }*@

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>


<body>
    @*El primer ingreso a la vista lo hace con el TempData vacio.*@
    @if (TempData["error"] as string != null)
        {
    <script>
                Swal.fire({
                    text: '"@TempData["error"]"',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
    </script>
    }


    <div class="container">
        <form action="/consorcio/modificarConsorcio" method="post">
            <input hidden name="IdConsorcio" value="@Model.IdConsorcio" />
            <input hidden name="IdUsuarioCreador" value="@Model.IdUsuarioCreador" />
            <input hidden name="FechaCreacion" value="@Model.FechaCreacion" />

            @Html.LabelFor(Model => Model.Nombre)*
            @Html.EditorFor(Model => Model.Nombre)
            @Html.ValidationMessageFor(Model => Model.Nombre)<br />

            @Html.LabelFor(Model => Model.IdProvincia)*
            @Html.DropDownListFor(Model => Model.Provincia.IdProvincia, new SelectList((System.Collections.IEnumerable)ViewData["listadoProvincias"], "IdProvincia", "Nombre"), "Elija una Provincia")
            @Html.ValidationMessageFor(Model => Model.Provincia.IdProvincia)<br />

            @Html.LabelFor(Model => Model.Ciudad)*
            @Html.EditorFor(Model => Model.Ciudad)
            @Html.ValidationMessageFor(Model => Model.Ciudad)<br />

            @Html.LabelFor(Model => Model.Calle)*
            @Html.EditorFor(Model => Model.Calle)
            @Html.ValidationMessageFor(Model => Model.Calle)<br />

            @Html.LabelFor(Model => Model.Altura)*
            @Html.EditorFor(Model => Model.Altura)
            @Html.ValidationMessageFor(Model => Model.Altura)<br />

            @Html.LabelFor(Model => Model.DiaVencimientoExpensas)*
            @Html.EditorFor(Model => Model.DiaVencimientoExpensas)
            @Html.ValidationMessageFor(Model => Model.DiaVencimientoExpensas)<br /><br />


            <button type="submit">Guardar</button>
            <a href="/consorcio/listarConsorcio">Cancelar</a><br /><br />
        </form>



        @ViewBag.cantidadUnidades Unidades<br />
        <a href="/unidad/listarUnidad/@Model.IdConsorcio">Ver Unidades</a><br />
        <a href="/expensa/listarExpensa/@Model.IdConsorcio">Ver Expensas</a><br />
        <a href="/gasto/listarGasto/@Model.IdConsorcio">Ver Gastos</a><br />
        <a href="/consorcio/eliminarConsorcio/@Model.IdConsorcio">Eliminar Consorcio</a>

    </div>
</body>