@using System.Web.Optimization
@using DataAccessLayer
@model DataAccessLayer.Modelos.Consorcio
@{
    ViewBag.Titulo = "Modificación de Consorcios";
    Layout = "~/Views/Shared/LogueadoLayout.cshtml";
}

@Scripts.Render("~/bundles/dataTables")
@Scripts.Render("~/bundles/sweetAlert")


@Html.Partial("_PartialMensajes")

<div class="container mb-5">
    <div class="pb-5">
        <h2 class="mb-5">Consorcio "@ViewBag.nombreConsorcio" - Editando</h2>

        <form class="row" action="/consorcio/modificarConsorcio" method="post">
            <input hidden name="IdConsorcio" value="@Model.IdConsorcio" />
            <input hidden name="IdUsuarioCreador" value="@Model.IdUsuarioCreador" />
            <input hidden name="FechaCreacion" value="@Model.FechaCreacion" />
            <input hidden name="nombreDeConsorcio" value="@ViewBag.nombreConsorcio" />

            <div class="col-9">

                @Html.LabelFor(Model => Model.Nombre)*
                @Html.EditorFor(Model => Model.Nombre)
                @Html.ValidationMessageFor(Model => Model.Nombre)<br />

                @Html.LabelFor(Model => Model.IdProvincia)*
                @Html.DropDownListFor(Model => Model.IdProvincia, new SelectList((System.Collections.IEnumerable)ViewData["listadoProvincias"], "IdProvincia", "Nombre"), "Elija una Provincia")
                @Html.ValidationMessageFor(Model => Model.IdProvincia)<br />

                @Html.LabelFor(Model => Model.Ciudad)*
                @Html.EditorFor(Model => Model.Ciudad)
                @Html.ValidationMessageFor(Model => Model.Ciudad)<br />

                @Html.LabelFor(Model => Model.Calle)*
                @Html.EditorFor(Model => Model.Calle)
                @Html.ValidationMessageFor(Model => Model.Calle)<br />

                @Html.LabelFor(Model => Model.Altura)*
                @Html.EditorFor(Model => Model.Altura)
                @Html.ValidationMessageFor(Model => Model.Altura)<br />

                @Html.LabelFor(Model => Model.DiaVencimientoExpensas)*
                @Html.EditorFor(Model => Model.DiaVencimientoExpensas)
                @Html.ValidationMessageFor(Model => Model.DiaVencimientoExpensas)
            </div>


            <div class="col-3">
                El consorcio tiene @ViewBag.cantidadUnidades Unidades<br /><br />

                <a href="/unidad/listarUnidades/@Model.IdConsorcio" class="btn btn-block btn-sm btn-primary">Ver Unidades</a>
                <a href="/expensa/listarExpensa/@Model.IdConsorcio" class="btn btn-block btn-sm btn-primary">Ver Expensas</a>
                <a href="/gasto/verGastos/@Model.IdConsorcio" class="btn btn-block btn-sm btn-primary">Ver Gastos</a><br /><br /><br />

                <p class="obligatorios">* Son campos obligatorios</p>
                <a href="/consorcio/eliminarConsorcio/@Model.IdConsorcio" class="btn btn-block btn-sm btn-danger">Eliminar Consorcio</a>
                <button class="btn btn-block btn-sm btn-primary" type="submit">Guardar</button>
                <a href="/consorcio/listarConsorcio" class="btn btn-block btn-sm btn-secondary">Cancelar</a>
            </div>
        </form>

    </div>
</div>