@using System.Web.Optimization
@using DataAccessLayer
@model DataAccessLayer.Modelos.Gasto
@{
    ViewBag.Titulo = "Modificar Gasto";
    Layout = "~/Views/Shared/LogueadoLayout.cshtml";
}

@Styles.Render("~/Content/gasto-estilos.css")
@Scripts.Render("~/bundles/dataTables")
@Scripts.Render("~/bundles/sweetAlert")


@Html.Partial("_PartialMensajes")

@{
    string nombreConsorcio = ViewData["consorcioNombre"].ToString();
}

<div class="container mb-5">
    <div class="pb-5">
        <h2 class="mb-5">Consorcio "@ViewData["consorcioNombre"]" - Editando gasto "@Model.Nombre"</h2>

        <form class="row" action="/gasto/ModificarGasto" method="post" enctype="multipart/form-data">
            @Html.HiddenFor(Model => Model.IdGasto)
            <input type="hidden" name="consorcioid" value="@Model.IdConsorcio" />

            <div class="col-9">

                @Html.LabelFor(Model => Model.Consorcio)&nbsp&nbsp
                @Html.EditorFor(Model => Model.Consorcio.Nombre, new { htmlAttributes = new { @disabled = "disabled" } })<br />

                @Html.LabelFor(Model => Model.IdTipoGasto)*
                @Html.DropDownListFor(Model => Model.IdTipoGasto, new SelectList((System.Collections.IEnumerable)TempData["listadoTipoGasto"], "IdTipoGasto", "Nombre"), "Seleccione Tipo de Gasto")
                @Html.ValidationMessageFor(Model => Model.IdTipoGasto)<br />

                @Html.LabelFor(Model => Model.Nombre)*
                @Html.EditorFor(Model => Model.Nombre)
                @Html.ValidationMessageFor(Model => Model.Nombre)<br />

                @Html.LabelFor(Model => Model.Descripcion)&nbsp&nbsp
                @Html.EditorFor(Model => Model.Descripcion)<br />

                @Html.LabelFor(Model => Model.FechaGasto)*
                @Html.EditorFor(Model => Model.FechaGasto, new { htmlAttributes = new { @type = "date" } })
                @Html.ValidationMessageFor(Model => Model.FechaGasto)<br />

                @Html.Label("Expensa")*
                @Html.LabelFor(Model => Model.AnioExpensa, new { @class = "label-expensa" })
                @Html.EditorFor(Model => Model.AnioExpensa, new { htmlAttributes = new { @class = "input-expensa-anio" } })*
                @Html.LabelFor(Model => Model.MesExpensa, new { @class = "label-expensa" })
                @Html.EditorFor(Model => Model.MesExpensa, new { htmlAttributes = new { @class = "input-expensa-mes" } })
                @Html.ValidationMessageFor(Model => Model.AnioExpensa)
                @Html.ValidationMessageFor(Model => Model.MesExpensa)<br />

                @Html.LabelFor(Model => Model.ArchivoComprobante)*
                <div class="no-modificable">@ViewBag.archivo</div>
                <input id="archivo" class="inputfile inputfile-2" type="file" name="archivo" value="@Model.ArchivoComprobante" />
                <label for="archivo">
                    <svg class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                    <span class="iborrainputfile">Cambiar comprobante</span>
                </label>
                @Html.HiddenFor(Model => Model.ArchivoComprobante, new { htmlAttributes = new { type = "file", @Value = Model.ArchivoComprobante } })<br />

                @Html.LabelFor(Model => Model.Monto)*
                @Html.EditorFor(Model => Model.Monto)
                @Html.ValidationMessageFor(Model => Model.Monto)
            </div>

            <div class="col-3">
                * Son campos obligatorios<br /><br />
                <a href="/gasto/eliminarGasto/@Model.IdGasto" class="btn btn-block btn-sm btn-danger botones-modificar">Eliminar</a>
                <button class="btn btn-block btn-sm btn-primary botones-modificar" type="submit">Modificar</button>
                <a href="/gasto/verGastos/@Model.IdConsorcio" class="btn btn-block btn-sm btn-secondary botones-modificar">Cancelar</a>
                <br /><br /><br /><br /><br /><br />
                @{
                    string filename = Model.ArchivoComprobante.Replace("/Gastos/", "");
                }
                @Html.ActionLink("Descargar Comprobante", "Download", new { file = filename })

            </div>

        </form>
    </div>
</div>
<script src="~/Scripts/PersonalizarInputType/PersonalizarInputType.js"></script>