@using System.Web.Optimization
@using DataAccessLayer
@model List<DataAccessLayer.Modelos.Gasto>
@{
    ViewBag.Titulo = "Listado de Gastos";
    Layout = "~/Views/Shared/LogueadoLayout.cshtml";
}

@Scripts.Render("~/bundles/dataTables")
@Scripts.Render("~/bundles/sweetAlert")
@Styles.Render("~/Content/dataTables")

@*El primer ingreso a la vista lo hace con el TempData vacio.*@
@if (TempData["exito"] as string != null)
{
    <script>
            Swal.fire({
                text: 'Gasto "@TempData["nombreGasto"]" fue creado con exito',
                icon: 'success',
                confirmButtonText: 'Ok'
            })
    </script>

}

<div class="container mb-5">
    <div class="pb-5">
        <h1 class="mb-5">Consorcio @ViewBag.consorcio.Nombre - Gastos</h1>
        <a class="btn btn-primary btn-default nuevogasto mb-4" href="/gasto/agregarGasto/@ViewBag.consorcio.IdConsorcio">Nuevo Gasto</a>

        <table class="table table-striped table-hover" id="ListadoGeneral">
            <thead class="thead-dark">
                <tr>
                    <th>Año</th>
                    <th>Mes</th>
                    <th>Nombre</th>
                    <th>Tipo Gasto</th>
                    <th>Fecha</th>
                    <th>Monto($)</th>
                    <th>Comprobante</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            @foreach (DataAccessLayer.Modelos.Gasto gasto in Model)
            {
                <tr>
                    <td>@gasto.AnioExpensa</td>
                    <td>@gasto.MesExpensa</td>
                    <td>@gasto.Nombre</td>
                    <td>@gasto.TipoGasto.Nombre</td>
                    <td>@gasto.FechaGasto</td>
                    <td>@gasto.Monto</td>
                    <td class="text-center"><a href="">Descargar Comprobante</a></td>
                    <td class="text-center"><a href="/gasto/modificarGasto/@gasto.IdGasto"><img src="~/Img/editar.png" /></a></td>
                    <td class="text-center"><a href="/gasto/eliminarGasto/@gasto.IdGasto"><img src="~/Img/borrar.png" /></a></td>
                </tr>
            }
        </table>
    </div>
</div>